@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?wwhza');
  src:  url('../../fonts/icomoon.eot?wwhza#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?wwhza') format('truetype'),
    url('../../fonts/icomoon.woff?wwhza') format('woff'),
    url('../../fonts/icomoon.svg?wwhza#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
