.vertical-center-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#page-content {
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
}
header,
footer {
  padding: 25px 0;
  background: $color-gray;
  color: $color-white;
}

.vertical-center-page #page-content{
  display: flex;
  align-items: center;
}